<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Создать заявку</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/head :: head"></header>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1>Заявки</h1>
    <div th:each="el : ${requests}" class="alert alert-info mt-2">
        <h3 th:text="${el.getRequestDescription()}"></h3>
        <a th:href="'/view-request/'+${el.rowId}" class="btn btn-warning">Просмотр деталей</a>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>